<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="tables"></div>
</body>
<script src="./data.js"></script>
<script src="./timeTables.js"></script>
<script>
let timeTable = new TimeTables({
    el: '#tables',
    date: '2020-05',
    data: getData(),
    head: 'date',
    left: 'title',
    template: (data, td, tr) => {
        return  `<div class="item" id="item-${data.id}">
            <div class="item-main">${data.status == 1 ? '上班' : data.status == 2 ? '休息' : '请假'}</div>
            <div class="item-footer">
                <span>上班</span>
                <span>休息</span>
                <span>请假</span>
            </div>
        </div>
        `
    }
})
// timeTable.init({
//     date: '2020-05',
//     data: []
// })
</script>
</html>