.table{
  margin-bottom: 20px;
  border-spacing: 20px;
}
.table th{
  min-width: 100px;
}
.text-center{
  text-align: center;
}

.item{
  width: 160px;
  height: 100px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
  border-radius: 4px;
}
.item .item-main{
  height: 60px;
  line-height: 60px;
}
.item .item-footer{
  line-height: 40px;
  border-top: 1px solid #eee;
}
.item .item-footer span{
  display: inline-block;
  width: 30%;
}
.noHandle{
  opacity: .4;
}